/* Variables - Light Theme Colors */

:root {
    /* Base */
    --bg: #ffff;
    --bg-2: #f5f5f1;
    --surface: #e1ecf5;
    --surface-2: #F1F3F5;
    --surface-3: #dadae1;
    --faded-bg: #9c92e320;
    --border: #49484845;
    --border-2: #49484832;
    --box-shadow: #00000034;
    --notification-badge: #ef4444;

    /* Text */
    --text-primary: #292b51;
    --text-secondary: #1b1d36;
    --text-muted: #9AA0A6;
    --text-muted-2: #4c4c4da2;

    /* Brand */
    --primary: #283593;
    --custom-blue: #091a63;
    --custom-blue-2: #040429;
    --deep-blue: #030820;
    --primary-hover: #1F2A7A;
    --custom-orange-text-color: #04043d;
    --custom-orange-text-color-hover: #06065b;
    --custom-orange: #fa8627;
    --custom-orange-hover: #ee7d22;
    --sign-in-link-color: #2d2d2d;
    --sign-in-link-color-hover: #181818;
    --sign-in-link-bg: #d6dbe1;
    --sign-in-link-bg-hover: #b9cee2;
    --icons-bg: #e4e7e8;
    --footer-link-color: #171754c5;
    --footer-link-color-hover: #3e3efd;

    /* Financial semantics */
    --success: #14dd1e;
    --success-2: #14dd1e2e;
    --success-3: #14dd1e5a;
    --success-4: #1de80a;
    
    --danger: #f20b0b;
    --danger-2: #fa7a7a2b;
    --danger-3: #f0181861;
    --danger-4: #ef4444;

    --warning: #f7bc5c;
    --warning-2: #f39a0b33;
    --warning-3: #f59e0b;

    --info: #1565C0;

    /* Shadows */
    --shadow-sm: 0 1px 3px rgba(0,0,0,0.08);
    --shadow-md: 0 4px 12px rgba(0,0,0,0.10);
}
