*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}

body {
    font-family: Nunito, sans-serif;
    background-color: var(--bg-2);
    color: var(--text-primary);
    min-height: 100vh;
}

h1 {
    line-height: 1;
    font-weight: 700;
    font-size: clamp(2.5rem, 6vw, 2.5rem);
}

h2 {
    line-height: 1;
    font-weight: 900;
    font-size: clamp(2rem, 2vw, 3.5rem);
}

p {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
}

a {
    font-size: clamp(1rem, 1.2vw, 1rem);
}

#category-modal-overlay,
#budget-modal-overlay,
#transaction-modal-overlay {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 5s ease-in-out;
}

body.modal-open {
    overflow: hidden;
}

.cancel-btn-wrapper {
    position: absolute;
    top: 8%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#category-close-modal-btn,
#budget-close-modal-btn,
#transaction-close-modal-btn {
    font-size: 1.8rem;
    width: 45px;
    height: 45px;
    color: var(--text-primary);
    background-color: var(--surface);
    border-radius: 50px;
    border: 2px solid rgba(228, 227, 227, 0.173);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#category-close-modal-btn:hover,
#budget-close-modal-btn:hover,
#transaction-close-modal-btn:hover {
    transform: rotate(5deg);
    color: var(--deep-blue);
    background-color: var(--surface-2);
}

.category-modal-main-container,
.budget-modal-main-container,
.transaction-modal-main-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--bg);
    border-radius: 10px;
}

.category-modal-main-container {
    padding: 4rem 20px;
    width: 30%;
    height: auto;
    gap: 1rem;
}

.budget-modal-main-container,
.transaction-modal-main-container {
    width: 35%;
    height: 600px;
    gap: 2rem;
    overflow: auto;
    padding: 2rem 20px;
}

.heading-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.heading-wrapper p {
    text-align: center;
    color: var(--text-muted);
}

.category-form,
.budget-form,
.transaction-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 80%;
    overflow: auto;
}

.category-form fieldset {
    border: none;
}

.input-fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    border: none;
}

.input-fieldset label {
    font-weight: 600;
    color: var(--text-primary);
}

.input-fieldset label.required::after {
    content: " *";
    color: var(--danger-4);
    font-weight: 600;
}

.input-fieldset input,
.input-fieldset select {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--border-2);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.input-fieldset input:focus,
.input-fieldset select:focus {
    background-color: var(--surface-2);
    border: 2px solid var(--text-primary);
}

.btn-fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    border: none;
}

.btn-fieldset button {
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    color: var(--text-primary);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#add-category-btn,
#add-budget-btn,
#add-transaction-btn {
    width: 60%;
    border: none;
    background-color: var(--custom-orange);
}

#add-category-btn:hover {
    background-color: var(--custom-orange-hover);
}

#category-modal-cancel-btn,
#budget-modal-cancel-btn,
#transaction-modal-cancel-btn {
    width: 40%;
    border: 2px solid var(--border-2);
    background-color: var(--surface);
}

#category-modal-cancel-btn:hover,
#budget-modal-cancel-btn:hover,
#transaction-modal-cancel-btn:hover {
    background-color: var(--surface-3);
}