# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]

# Databases
*.sqlite3

# Editor config
.vscode/

# Virtual environments
finaudit_env/
venv/
env/

# Test directories & files
test_files/
*.http

# Personal playground directories & Files
scripts/
playground.py

# Profile image folder
media
