*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}

body {
    font-family: Nunito, Times serif;
    background-color: var(--bg-2);
    color: var(--text-primary);
    min-height: 100vh;
}

h1 {
    line-height: 1;
    font-weight: 700;
    font-size: clamp(2.5rem, 6vw, 2.5rem);
}

h2 {
    line-height: 1;
    font-weight: 900;
    font-size: clamp(2rem, 2vw, 3.5rem);
}

p {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
}

a {
    font-size: clamp(1rem, 1.2vw, 1rem);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.dashboard-layout-wrapper {
    display: flex;
    min-height: 100vh;
}

.main-workspace-container {
    flex-grow: 1;
    margin-left: 260px;
    display: flex;
    flex-direction: column;
}

.message-display {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

.message-display.success {
    color: var(--text-primary);
    background-color: var(--success);
}

.message-display.error {
    color: var(--bg);
    background-color: var(--danger);
}

.top-utility-bar {
    height: 70px;
    background-color: var(--bg-2);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.search-input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #888888;
    pointer-events: none;
}

.search-form input {
    width: 300px;
    padding: 10px 12px 10px 36px;
    font-size: 16px;
    background-color: var(--surface-2);
    border: 2px solid var(--border-2);
    border-radius: 10px;
    color: var(--text-primary);
    outline: none;
}

.search-form input:focus {
    border: 2px solid var(--text-primary);
}

.user-utilities {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.notification-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 50px;
}

.notification-btn:hover {
    background-color: var(--faded-bg);
}

.notification-badge {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 8px;
    height: 8px;
    background-color: var(--notification-badge);
    border-radius: 50%;
}

.profile-chip {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-chip img {
    width: 32px;
    height: 32px;
    border: 2px solid var(--border-2);
    border-radius: 50%;
    object-fit: cover;
}

.dashboard-content-view {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.welcome-heading-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.greetings-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;
}

.greetings-wrapper p {
    color: var(--text-primary);
}

.greetings-wrapper span {
    font-size: 18px;
    font-weight: 700;
    color: var(--custom-orange);
}

.shortcuts-wrapper {
    width: 38%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.shortcuts-wrapper button {
    padding: 12px;
    width: max-content;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#budget-btn,
#category-btn {
    color: var(--text-primary);
    border: 1px solid var(--border);
}

#budget-btn:hover,
#category-btn:hover {
    background-color: var(--custom-orange);
}

#transaction-btn {
    color: var(--text-contrast);
    background-color:var(--custom-orange);
}

#transaction-btn:hover {
    background-color: var(--custom-orange-hover);
}

.financial-summary-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.metric-card {
    background-color: var(--bg);
    border: 1px solid var(--border-2);
    border-radius: 12px;
    padding: 20px;
    position: relative;
    box-shadow: var(--shadow-sm);
}

.metric-card h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--text-muted);
}

.metric-card h3 svg {
    padding: 8px;
    border-radius: 5px;
    background-color: var(--surface);
}

.metric-card h3 svg.income {
    color: var(--income);
}

.metric-card h3 svg.expense {
    color: var(--danger-4);
}

.metric-card h3 svg.balance {
    color: var(--success);
}

.metric-value {
    font-size: 2rem;
    font-weight: 800;
}

.dashboard-middle-grid,
.dashboard-bottom-grid {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.budget-overview-card,
.insights-feed-card,
.line-chart-section,
.top-categories-card {
    background-color: var(--bg);
    border: 1px solid var(--border-2);
    border-radius: 16px;
    padding: 24px;
}

.budget-overview-card,
.line-chart-section {
    width: 70%;
}

.line-chart-section {
    height: 480px;
}

.insights-feed-card,
.top-categories-card {
    width: 30%;
}

.insights-feed-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.insight-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.insight-block {
    width: 100%;
    padding: 10px 12px 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 12px;
    border: 1px solid var(--border-2);
}

.insight-block.info {
    background-color: var(--info);
}

.insight-block.success {
    background-color: var(--success-3);
}

.insight-block.warning {
    background-color: var(--warning-4);
}

.insight-block.danger {
    background-color: var(--danger-3);
}

.insight-label {
    display: block;
    width: max-content;
    padding: 2px 10px;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: capitalize;
    border: 1px solid var(--border-2);
    border-radius: 50px;
    color: var(--text-primary);
    background-color: var(--faded-bg);
}

.insight-message {
    font-size: 16px;
}

.insight-row {
    width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.insights-view-all-link,
.top-categories-card a {
    color: var(--links);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
    margin-top: 0.5rem;
}

.insights-view-all-link:hover,
.top-categories-card a:hover {
    text-decoration: underline;
}

.budget-overview-card {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem 2.5rem;
    background-color: var(--danger-2);
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.card-header-sub {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-header p {
    width: 60%;
    font-size: 1rem;
}

.budget-heading,
.insights-heading,
.top-cat-heading,
.chart-wrapper h2,
.transactions-heading {
    font-size: 1.5rem;
    font-weight: 500;
}

.card-header span {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 4px 8px;
    color: var(--custom-orange);
    border-radius: 10px;
    background-color: var(--bg-2);
}

.budget-metrics-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.budget-metrics-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem 2em 1rem 1rem;
    border-radius: 12px;
    color: var(--text-primary);
    background-color: var(--bg-2);
}

.budget-metrics-card .card-title {
    color: var(--text-muted);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.budget-metrics-card h3 {
    font-size: 2rem;
}

.budget-metrics-card small,
.budget-metrics-card small span {
    font-size: 0.9rem;
    color: var(--text-primary);
}

.budget-progress-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.3rem;
    color: var(--text-primary);
}

 #utilization-progress {
    width: 100%;
    height: 8px;
    appearance: none;
    -webkit-appearance: none;
}

#utilization-progress::-webkit-progress-bar {
    background: var(--surface-3);
    border-radius: 999px;
}

#utilization-progress::-webkit-progress-value {
    background: var(--custom-orange);
    border-radius: 999px;
}

#utilization-progress::-moz-progress-bar {
    background: var(--custom-orange);
    border-radius: 999px;
}

.sub-budget-progress-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-budget-progress-wrapper p {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.95rem;
}

.sub-budget-progress-wrapper p span {
    font-weight: 700;
}
    
.budget-progress-wrapper span p {
    color: var(--text-muted);
}

.category-metrics-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}

.category-metrics-wrapper .chip {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0;
}

.chip .state {
    font-size: 1.5rem;
}

.chip .state.success {
    color: var(--success);
}

.chip .state.warning {
    color: var(--custom-orange);
}

.chip .state.danger {
    color: var(--danger);
}

.chip strong {
    font-size: 1rem;
}

.budget-overview-card a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
    color: var(--links);
    transition: all 0.3s ease;
}

.budget-overview-card a:hover {
    text-decoration: underline;
}

.transaction-history-list,
.category-rank-wrapper {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 20px;
}

.category-rank-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 5px 10px;
    background-color: var(--surface-2);
    border: 1px solid var(--border);
    border-radius: 10px;
}

.top-cat-empty-state,
.empty-transaction-state {
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: var(--text-muted);
}

.rank-card-heading-wrapper,
.rank-card-bottom-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rank-card-title,
.title-card-val {
    color: var(--text-primary);
    font-weight: 700;
}

.rank-card-bot-title,
.rank-card-bot-title-val {
    color: var(--text-muted);
}

.line-chart-section {
    padding: 20px 10px;
    border: 1px solid var(--border);
    border-radius: 16px;
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.chart-empty-state {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.chart-empty-state p {
    text-align: center;
    font-weight: 500;
    color: var(--text-muted);
}

.chart-empty-state span {
    color: var(--text-muted);
    width: 40%;
    text-align: center;
}
